.container {
  max-width: $website-width;
 // padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;

  &-home {
    margin: 0 auto;
    max-width: 65rem;
    padding: 0 4rem;
  }
}

.lead-text {
  color: $main-color;
  font-weight: 700;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}
